@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
.animate-bounce {
  animation: bounce 0.5s ease-in-out;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-default::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-default::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollbar-default::-webkit-scrollbar-thumb:hover {
  background: #555;
}